<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Calculator</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.5.0/css/bootstrap.min.css}" />
</head>
<body>
<div class="container mt-5">
    <h2>Simple Calculator</h2>
    <form th:action="@{/calculate}" method="post">
        <input type="text" name="num1" class="form-control mb-2" th:placeholder="'Enter number 1'" />
        <input type="text" name="num2" class="form-control mb-2" th:placeholder="'Enter number 2'" />
        <select name="operation" class="form-select mb-2">
            <option value="add">Addition</option>
            <option value="subtract">Subtraction</option>
            <option value="multiply">Multiplication</option>
            <option value="divide">Division</option>
        </select>
        <button type="submit" class="btn btn-primary">Calculate</button>
    </form>
    <p th:text="${result}" class="mt-3"></p>
</div>
</body>
</html>
